/* banner style*/
.banner{
    background-image: url(./images/banner/banner3.png);
    height: 800px;
    width: 1600px;
    margin-top: -54px;
}
.banner-style{
    text-align: right;
}
.banner-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    color: white;
    font-weight: bold;
    padding: 300px 230px 0px 880px;
    text-align: right;
}
.banner-description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: right;
    font-size: 16px;
    padding: 0px 230px 0px 876px;
    font-weight: normal;
}
.banner-button{
    font-family: Arial, Helvetica, sans-serif;
    color: #005FAC;
    font-weight: 600;
    margin: 15px 230px 180px 1230px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}